/* #E8EFE8
#C4C4C4
#717273
#6D726D
#555555
#333633
#2E2E2E
#000000 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #333633;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}
html{
  scroll-behavior: smooth;
}
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
h1, h2, h3{
  font-weight: 300;
  font-size: 1rem;
}
h1{
  margin-left: 1rem;
}
img{
  max-width: 100%;
}
.bold{
  font-weight: 700;
}
.botao{
  padding: 1rem 2rem;
  margin: 1rem;
  border: #333633 solid 3px;
  box-shadow: 5px 5px #333633;
  cursor: pointer;
  transition: .3s;
  font-weight: 700;
}
.botao:hover{
  border: #6D726D solid 3px;
  color: #6D726D;
  box-shadow: 3px 3px #6D726D;
}
.botoes{
  display: flex;
  justify-content: space-evenly;
}

body{
  background-color: #E8EFE8;
}

.content-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  letter-spacing: 2.5px;
}
.menu-header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu-header li a{
  padding: 0 1rem;
  font-size: .8rem;
  letter-spacing: 2.5px;
}
.menu-header li a:hover{
  font-weight: 600;
}
.back-menu-icon{
  display: none;
}
@media (max-width: 768px){
  .content-header{
      padding: 0;
      position: relative;
  }
  .back-menu-icon{
      position: relative;
      left: 0;
      display: flex;
      justify-content: center;
      z-index: 5;
      background-color: #333633;
      height: 100%;
      width: 30%;
      padding: .5rem;
  }
  .menu-icon{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 30px;
      cursor: pointer;
  }
  .menu-icon::before, .menu-icon div, .menu-icon::after{
      content: '';
      background-color: #E8EFE8;
      display: block;
      height: 2px;
      margin: 3px;
      width: 100%;
      transition: transform .3s;
  }
  #check:checked ~ .back-menu-icon .menu-icon::before{
      transform: translateY(8px) rotate(45deg);
  }
  #check:checked ~ .back-menu-icon .menu-icon div{
      transform: scaleX(0);
  }
  #check:checked ~ .back-menu-icon .menu-icon::after{
      transform: translateY(-8px) rotate(-45deg);
  }
  .menu-header{
      flex-direction: column;

      position: absolute;
      left: 0;
      bottom: 0;
      width: 30%;

      background-color: #333633;
      transition: .3s;
  }
  #check:checked ~ nav .menu-header{
      transform: translateY(100%);
  }
  .menu-header li a{
      padding: 1rem;
      color: #E8EFE8;
      display: block;
  }
  header h2{
      text-align: center;
  }
}
@media (max-width: 320px){
  .menu-header li a{
      padding: .1rem;
  }
}

.content-home{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.home-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem;
  max-width: 50%;
}
.home-left h2, .home-text{
  font-size: 2rem;
}
.home-left p, .home-left p span{
  text-transform: none;
  margin: 2rem 0;
  font-size: 1.5rem;
}
.home-left p span{
  background-color: #C4C4C4;
}
.foto-thalita{
  margin: 2rem;
}
.foto-thalita img{
  display: block;
  border: 10px solid #333633;
  box-shadow: 10px 10px #333633;
  width: 100%;
  height: 100%;
  max-width: 400px;
}

.curriculo-content{
  margin: 2rem;
  /* padding: 4rem 0; */
  display: flex;
}
.formacao-content, .experiencia-content, .hardskill-content, .softskill-content{
  margin-bottom: 2rem;
}
.curriculo-left, .curriculo-right{
  width: 50vw;
}
.titulo-curriculo, #portfolio{
  font-size: 2rem;
  font-weight: 900;
}
.formacao li, .experiencia li{
  padding: 1rem 0;
}
.titulo-formacao, .titulo-experiencia{
  font-weight: 900;
  font-size: 1.2rem;
}
.periodo{
  font-weight: 900;
  color: #555555;
  font-size: .8rem;
}
.local{
  font-weight: 400;
}

.hardskill-gallery{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}
.titulo-skill{
  padding: .5rem 0;
}
.hardskill{
  margin: .5rem;
}
.barra{
  width: 200px;
  height: 5px;
  background-color: #C4C4C4;
}
.progresso{
  height: 5px;
  background-color: #333633;
}
.softskill-text{
  margin: 1rem 0;
  line-height: 1.5;
}

.portfolio-content{
  margin: 8rem 0;
}
.portfolio-gallery{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.port{
  margin: 1rem;
}
.port-item{
  width: 309px;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.port-body{
  width: 309px;
  height: 244px;
  border: 5px solid #333633;
  box-shadow: 10px 10px #333633;
  position: relative;
}
.botoes-navbar{
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.botoes-navbar p{
  font-size: 3rem;
}
.port-navbar{
  position: absolute;
  top: 30px;
  left: 0px;
  background-color: #333633;
  border: none;
  width: 303px;
  height: 5px;
}
.port-image{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 300px;
  height: 200px;
}
.nome-projeto{
  align-self: center;
}

@media (max-width: 1200px){
  .home-left, .home-right, .formacao-content, .experiencia-content, .hardskill-content, .softskill-content, .portfolio-content{
    margin: 1rem 5%;
  }
}
@media (max-width: 768px){
  h1{
    margin: 0;
  }
  .content-home{
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .home-left p, .home-left p span{
    font-size: 1rem;
  }
  .home-left, .home-right, .formacao-content, .experiencia-content, .hardskill-content, .softskill-content, .portfolio-content{
    padding: 0;
    text-align: center;
    max-width: initial;
  }
  .home-right{
    margin-bottom: 0;
  }
  .curriculo-content, .hardskill-gallery, .portfolio-gallery, .hardskill, .botoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 550px){
  .titulo-curriculo, #portfolio{
    font-size: 1.5rem;
  }
  .barra{
    width: 150px;
  }
}
@media (max-width: 400px){
  .home-text, .home-left h2{
    font-size: 1.5rem;
  }
  .titulo-curriculo, #portfolio{
    font-size: 1.2rem;
  }
  .titulo-formacao, .titulo-experiencia{
    font-size: 1rem;
    font-weight: normal;
  }
  .portfolio-gallery{
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
  }
  .port{
    /* margin: 1rem; */
  }
  .port-item{
    width: 159px;
    /* width: 309px;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
  }
  .port-body{
    width: 159px;
    height: 129px;
    /* width: 309px;
    height: 244px;
    border: 5px solid #333633;
    box-shadow: 10px 10px #333633;
    position: relative; */
  }
  .botoes-navbar{
    height: 15px;
    padding-left: .5rem;
    /* width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 1rem; */
  }
  .botoes-navbar p{
    font-size: 2rem;
    /* font-size: 3rem; */
  }
  .port-navbar{
    top: 15px;
    width: 153px;
    /* position: absolute;
    top: 30px;
    left: 0px;
    background-color: #333633;
    border: none;
    width: 303px;
    height: 5px; */
  }
  .port-image{
    width: 150px;
    height: 100px;
    /* position: absolute;
    bottom: 0px;
    left: 0px;
    width: 300px;
    height: 200px; */
  }
}

footer p{
  padding: 1rem;
  font-size: .8rem;
  text-transform: none;
  text-align: center;
}