/* #E8EFE8
#C4C4C4
#717273
#6D726D
#555555
#333633
#2E2E2E
#000000 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}