/* #E8EFE8
#C4C4C4
#717273
#6D726D
#555555
#333633
#2E2E2E
#000000 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #333633;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
h1, h2, h3{
  font-weight: 300;
  font-size: 1rem;
}
.bold{
  font-weight: 700;
}
.botao{
  padding: 1rem 2rem;
  margin: 1rem;
  border: #333633 solid 3px;
  cursor: pointer;
}
.botao:hover{
  border: #6D726D solid 3px;
  color: #6D726D;
  transition: .3s;
}

body{
  background-color: #E8EFE8;
}

.content-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  letter-spacing: 2.5px;
}
.menu-header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu-header li{
  padding: 0 1rem;
  font-size: .8rem;
  letter-spacing: 2.5px;
}
.menu-header li a:hover{
  font-weight: 600;
}
.gear{
  width: 30px;
}


.content-home{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.home-left h2{
  font-size: 2rem;
}
.home-left p, .home-left p span{
  text-transform: none;
  padding: 2rem 0;
}
.foto-thalita{
  width: 50%;
}